#side_content {float:left;
//    position: relative; bottom: 400px;
    background-color: $orange1;
}

.side li{display: block; padding: 1%; color: $white;}

//#left {width: 100px; height: 100%; float: left; background-color: red}

//#right {margin-left: 100px; height: 100%; background-color: green}
