//Shades of Orange
$orange1: #F79553;
$orange2: #FAB484;
$orange3: #F26E21;
$orange4: #E06025;
$ornage5: #F05922;

//Shades of Blue
$blue1: #60C6F1;
$blue2: #4994D0;
$blue3: #445CA9;
$blue4: #3A65B0;

//nav button colors
$nav: #4ad0fb;
//4acaf8

$white: #ffffff;
